@import "./CssReset.css";

.letter {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.17);
    border-top: 2em solid #6be;
    line-height: 1.9;
    margin: 2em auto;
}
.letter input, 
.letter textarea {
    text-align: justify;
    background: none;
    color: #444;
    width: 100%;
}
.letter input:focus, 
.letter textarea:focus {
    outline: none;
    padding: 0;
}

.contact {
    padding: 18.8em 0 0 4em;
    width: 30%;
} 
.contact i {
    color: #6be;
    font-size: 1.3em;
} 
.contact .paper_plane  {
    font-size: .7em;
} 

.body {
    border-left: .01em solid #eee;
    padding: 6em 5em 18em 2em;
    height: 100%;
    width: 70%;
}

.name {
    font-size: 3em;
    color: #6be !important;
}
.title {
    font-size: 1.2em;
}