textarea {
    padding: 0 !important;
}

.bodyStyle {
    background-color: #242e34;
    color: white
}

.resume {
    margin-top: 25px;
    background-color: white;
}

.resumeHeader {
    background-color: #8ca4d4;
    height: 140px;
}

.row-header {
    display: flex;
    justify-content: space-between;
}

.inputStyle {
    color: white;
    /* float: right; */
}

.inputStyleTitle {
    color: white;
    border: none;
    background-color: #8ca4d4;
    float: right;
    margin-top: 50px;
    font-size: 30px;
    width: 100%;
    text-align: right
}

.inputName {
    background-color: #8ca4d4;
    border: none;
    color: white;
    font-size: 50px;
    /* float: right */
}

.inputStyleName {
    color: white;
    float: right;
    margin-top: 24px;
    border: none;
    width: 100%;
    background-color: #8ca4d4;
    text-align: right
}

.linksSocialUl {
    display: flex;
    align-content: flex-start;
    list-style: none;
}

.linksSocialUl li {
    padding-right: 5px;
    width: 200px;
}

.linksSocialUl li input {
    width: 100%;
    background-color: #8ca4d4;
    border: none;
}

.summary-container {
    padding: 10px 30px 10px 30px;
    color: black;
}

.subtitle {
    padding: 5px 20px;
    background-color: #ebecee;
    color: #8ca4d4;
}

.summary-container textarea {
    padding: 10px;
    width: 100%;
    border: none;
}

.employment-container-section {
    width: 100%;
}

.employment-container-section input {
    width: 100%;
    border: none;
}


/* inputs */

.eployment-time {
    text-align: right;
    padding: 8px;
}

.company {
    width: 250px !important;
    font-size: 25px;
}

.title {
    width: 200px !important;
}

.city {
    width: 200px !important;
    text-align: right;
    float: right;
}

.college {
    font-size: 25px;
}

.languages p {
    text-align: right;
    padding: 0px;
    margin: 1px;
}

.projects-responsibility {
    padding-top: 10px;
}

.btn-add-new-eployment {
    float: right;
    margin-top: -44px;
    padding: 5px;
    color: white;
    background-color: rgb(52, 116, 111);
    border-color: rgb(52, 116, 111);
    cursor: pointer;
    border-radius: 5px;
}