textarea {
    padding: 0 !important;
}

.bodyStyle {
    background-color: #242e34;
    color: white
}

.resume {
    margin-top: 25px;
    background-color: white;
}

.resumeHeader {
    background-color: #8ca4d4;
    height: 140px;
}

.row-header {
    display: flex;
    justify-content: space-between;
}

.inputStyle {
    color: white;
    /* float: right; */
}

.inputStyleTitle {
    color: white;
    border: none;
    background-color: #8ca4d4;
    float: right;
    margin-top: 50px;
    font-size: 30px;
    width: 100%;
    text-align: right
}

.inputName {
    background-color: #8ca4d4;
    border: none;
    color: white;
    font-size: 50px;
    /* float: right */
}

.inputStyleName {
    color: white;
    float: right;
    margin-top: 24px;
    border: none;
    width: 100%;
    background-color: #8ca4d4;
    text-align: right
}

.linksSocialUl {
    display: flex;
    align-content: flex-start;
    list-style: none;
}

.linksSocialUl li {
    padding-right: 5px;
    width: 200px;
}

.linksSocialUl li input {
    width: 100%;
    background-color: #8ca4d4;
    border: none;
}

.summary-container {
    padding: 10px 30px 10px 30px;
    color: black;
}

.subtitle {
    padding: 5px 20px;
    background-color: #ebecee;
    color: #8ca4d4;
}

.summary-container textarea {
    padding: 10px;
    width: 100%;
    border: none;
}

.employment-container-section {
    width: 100%;
}

.employment-container-section input {
    width: 100%;
    border: none;
}


/* inputs */

.eployment-time {
    text-align: right;
    padding: 8px;
}

.company {
    width: 250px !important;
    font-size: 25px;
}

.title {
    width: 200px !important;
}

.city {
    width: 200px !important;
    text-align: right;
    float: right;
}

.college {
    font-size: 25px;
}

.languages p {
    text-align: right;
    padding: 0px;
    margin: 1px;
}

.projects-responsibility {
    padding-top: 10px;
}

.btn-add-new-eployment {
    float: right;
    margin-top: -44px;
    padding: 5px;
    color: white;
    background-color: rgb(52, 116, 111);
    border-color: rgb(52, 116, 111);
    cursor: pointer;
    border-radius: 5px;
}

form {
    margin-bottom: 10px;
}

.add-time {
    border: 2px solid #ebecee !important;
    text-align: right;
    margin-top: 10px;
    float: right;
    border-radius: 8px;
    padding-right: 5px !important;
}

.add-time:focus {
    outline: none;
    border-radius: 8px;
    border: 2px solid rgb(52, 116, 111) !important;
}

.add-company {
    border: 2px solid #ebecee !important;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 25px;
    width: 35%;
    padding-left: 5px !important;
}

.add-company:focus {
    outline: none;
    border-radius: 8px;
    border: 2px solid rgb(52, 116, 111) !important;
}

.add-title {
    border: 2px solid #ebecee !important;
    margin-top: 10px;
    border-radius: 8px;
    width: 30%;
    margin-left: 5px;
    padding-left: 5px !important;
}

.add-title:focus {
    outline: none;
    border-radius: 8px;
    border: 2px solid rgb(52, 116, 111) !important;
}

.add-city {
    border: 2px solid #ebecee !important;
    margin-top: 20px;
    border-radius: 8px;
    /* width: 33%; */
    float: right;
    margin-left: 5px;
    text-align: right;
    padding-right: 5px !important;
}

.add-city:focus {
    outline: none;
    border-radius: 8px;
    border: 2px solid rgb(52, 116, 111) !important;
}

.add-responsibility {
    border-radius: 8px;
    border: 2px solid #ebecee !important;
    margin-top: 5px;
    padding-left: 5px !important;
}

.add-responsibility:focus {
    outline: none;
    border: 2px solid rgb(52, 116, 111) !important;
}

.add-btn {
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid rgb(52, 116, 111) !important;
}

.add-btn:focus {
    border: 2px solid rgb(52, 116, 111) !important;
}